body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;


}

h1, h2, h3, h5, h6 {
  color: #444444;
  font-weight: bold;
}

h3 {
  font-size: 130%;
}

.card-text {
  font-style: italic;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-title{
  font-size: 90%;
}



ul {
  margin: 0;
}

.bg-steel {
  background-color: #26405a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  font-size: 20px;
  font-weight: bold;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-brand{
  font-weight: bold;
  font-size: 30px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.site-footer{
  padding-top: 30px;
  text-align: center;

}

.container-fluid{
  width:1000px;
}

.search-container {
  width:230px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-bottom: 0px;
}

.pagination{
  size:40px;!important;
}


.site-footer {
  background-color: #224054;!important;
  margin-top:10rem;
  align-content: center;!important;
  align-self: center;
  padding-left: 0px;!important;
  padding-right: 0px;!important;

}

.footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
}


.footer h1,h2,h4 {
  color: #9c9c9c;
}
